li {
  list-style: none;
}

.header {
  height: 140px;
  background: #1f2143;
  box-shadow: 0px 10px 10px black;
  padding: 45px;
}

.header-wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  color: #d1d1d7;
}

.menu {
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  width: 800px;
  align-items: center;
  justify-content: space-between;
}

.menu__item {
  color: rgba(255, 255, 255, 0.6);
}

.item-active {
  font-weight: 500;
  color: #ffffff;
}

.user__img {
  width: 50px;
  height: 50px;
}
